# Database Configuration
DB_URL=postgres://admin:secret@financial_track_db:5432/financial_track?sslmode=disable

# JWT Configuration
JWT_SECRET=your-secret-key-here

# Server Configuration
SERVER_PORT=81
